html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Roboto", Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue !important;
  -webkit-font-smoothing: antialiased;
}

.text-24 {
  font-size: 24px;
}

.cursor-pointer {
  cursor: pointer;
}
